<form>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" id="dni" class="form-control" [(ngModel)]="citaActual.dni" name="dni">
    </div>
    <div class="col-md-3 mb-3">
      <label for="sexo" class="form-label">Sexo</label>
      <div class="d-flex">
        <div class="form-check me-2">
          <input class="form-check-input" type="radio" id="sexoF" value="F" [(ngModel)]="citaActual.sexo"  name="femenimo">
          <label class="form-check-label" for="sexoF">F</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="sexoM" value="M" [(ngModel)]="citaActual.sexo"  name="masculino">
          <label class="form-check-label" for="sexoM">M</label>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
      <input type="date" id="fechaNacimiento" class="form-control" [(ngModel)]="citaActual.fechaNacimiento"  name="fecha-nacimiento">
    </div>
  </div>
  
  <!-- Campos de información personal -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" class="form-control" [(ngModel)]="citaActual.nombre"  name="nombre">
    </div>
    <div class="col-md-6 mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" id="apellidos" class="form-control" [(ngModel)]="citaActual.apellidos"  name="apellido">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="text" id="telefono" class="form-control" [(ngModel)]="citaActual.telefono"  name="telefono">
    </div>
  </div>

  <!-- Campos para información del acompañante -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="dniAcompanante" class="form-label">DNI del acompañante</label>
      <input type="text" id="dniAcompanante" class="form-control" [(ngModel)]="citaActual.dniAcompanante"  name="dni-acompanante">
    </div>
    <div class="col-md-6 mb-3">
      <label for="nombreAcompanante" class="form-label">Nombre acompañante</label>
      <input type="text" id="nombreAcompanante" class="form-control" [(ngModel)]="citaActual.nombreAcompanante"  name="nombre-acompanante">
    </div>
    <div class="col-md-6 mb-3">
      <label for="apellidoAcompanante" class="form-label">Apellido acompañante</label>
      <input type="text" id="apellidoAcompanante" class="form-control" [(ngModel)]="citaActual.apellidoAcompanante"  name="apellido-acompanante">
    </div>
  </div>

  <!-- Campos adicionales -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="motivoConsulta" class="form-label">Motivo de consulta</label>
      <textarea id="motivoConsulta" class="form-control" [(ngModel)]="citaActual.motivoConsulta"  name="motivo-consulta"></textarea>
    </div>
    <div class="col-md-6 mb-3">
      <label for="signosSintomas" class="form-label">Signos y síntomas</label>
      <textarea id="signosSintomas" class="form-control" [(ngModel)]="citaActual.signosSintomas"  name="signo-sintomas"></textarea>
    </div>
  </div>
</form>