.bg-primary {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px;
    height: 20px;
    width: 12px;

  }
  .bg-success {
    background-color: #28a745 !important;
    color: #fff !important;
    border-radius: 5px;
    height: 20px;
    width: 12px;
  }
  .bg-danger{
    background-color: red !important;
    color: #fff !important;
  }