<div class="fondo d-flex justify-content-center align-items-center flex-column text-center" 
  style="background-image: url('assets/img/fg.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; ">
  
  <h1 class="titulo-principal">WELCOME TO THE ROSALES CONSULTANT</h1>
  
  <div class="container mt-4">
    <!-- Fila de tarjetas -->
    <div class="row">
      <!-- Tarjeta de Inicio -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <i class="bi bi-house-door" style="font-size: 2rem;"></i>
            <h5 class="card-title mt-2">Inicio</h5>
            <p class="card-text">Accede al panel de inicio.</p>
            <a class="btn btn-primary" routerLink="/home">Ir a Inicio</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Pacientes -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <i class="bi bi-person" style="font-size: 2rem;"></i>
            <h5 class="card-title mt-2">Pacientes</h5>
            <p class="card-text">Gestiona la información de los pacientes.</p>
            <a class="btn btn-primary" routerLink="/home/pacientes">Ver Pacientes</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Citas -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <i class="bi bi-calendar" style="font-size: 2rem;"></i>
            <h5 class="card-title mt-2">Citas</h5>
            <p class="card-text">Administra las citas programadas.</p>
            <a class="btn btn-primary" routerLink="/home/citas">Ver Citas</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Pagos -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <i class="bi bi-credit-card" style="font-size: 2rem;"></i>
            <h5 class="card-title mt-2">Pagos</h5>
            <p class="card-text">Gestiona los pagos de los pacientes.</p>
            <a class="btn btn-primary" routerLink="/home/pagos">Ver Pagos</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Ajustes -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <i class="bi bi-gear" style="font-size: 2rem;"></i>
            <h5 class="card-title mt-2">Cliente</h5>
            <p class="card-text">gestiona el registro de los nuevos usuarios</p>
            <a class="btn btn-primary" routerLink="/home/persona">Ir a Cliente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
